#products-card {
    display: flex;
    justify-content: space-around;
}

#products-card button {
    all: unset;
    background-color: #5AA02A;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

