.col-lg-2 {
    box-shadow: 0px 0px 10px -6px black;
    padding-right: 0px !important;
}

#cont-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#cont-nav p {
    padding: 10px;
    margin: 0px;
}

#cont-nav a {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: 600;

}