.stopwatch {
  display: flex;
  align-items: center;
  padding: 12px;
}

.btn-stopwatch {
  background-color: #5AA02A;
  color: #fff;
  border-radius: 2px;
  width: 100px;
  border: none;
  margin: 6px;
}

.btn-stopwatch:disabled{
  background-color: #c0c3bf;
}