a{
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: 600;
  }
#orders-active{
    background-color: #5AA02A;
}
#menu-active{
    background-color: white;
}

.table-responsive-sm {
    padding: 20px;
}