@import url('https://fonts.googleapis.com/css?family=Numans');

.row {
    display: flex;
    flex-direction: row;
}

.products-container {
    display: flex;
    justify-content: space-between;
}

.comp-menu:hover {
    background: #f2f2f2;
}


#title-menu {
    height: 5vh;
}

#title-menu h2 {
    text-align: center;
}

hr.solid {
    border-top: 2px solid #999;
    margin: 0px;
}

#row-container {
    --bs-gutter-x: 0 rem;
    height: 90vh;
}

#nav-collapse {
    height: 85vh;
    padding-top: 10px;
}
/* .col-lg-5 #nav-collapse{
    box-shadow: 0px 5px 10px -6px black;
} */
#nav-collapse .collapse-h5{
    background-color: #f2f2f2;
    font-weight: 700;
}
.comp-padding {
    padding: 10px 10px;
}
#menu-active{
    background-color: #5AA02A;
}
@media only screen and (max-width : 1224px) {
.products-container {
    flex-direction: column;
}
#column-product {
    justify-content: center;
}
#row-container {
    float: none;
 }
 .global-btn {
    margin: 10px 0px;
 }
 #title-menu {
    display: none;
 }
 #title-menu hr {
    display: none;
 }
 .col-lg-5 #nav-collapse{
     box-shadow: none;
 }
}