@import url('https://fonts.googleapis.com/css?family=Numans');

.row {
    display: flex;
    flex-direction: row;
}

.products-container {
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
}

.comp-menu:hover {
    background: #5AA02A;
}

#title-menu{
    height: 5vh;
}
#title-menu h2{
    text-align: center;
}
hr.solid {
    border-top: 2px solid #999;
    margin: 0px;
}
#row-container {
    --bs-gutter-x: 0 rem;
    height: 90vh;
}
#nav-collapse {
    /* padding: 0px 20px; */
    height: 85vh;
    box-shadow: 0px 5px 10px -6px black;
    padding-top: 10px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
}
.comp-padding {
    padding: 10px 10px;
}
