.navbar-collapse{
    justify-content: end;
}
.navbar-brand img {
    width: 50px;
    filter: invert(100%);
    padding: 0px 5px;
  }
  .navbar {
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
      height: 10vh;
  }