.navbar-collapse {
    justify-content: end;
}

.navbar-brand img {
    width: 50px;
    filter: invert(100%);
    padding: 0px 5px;
}

.navbar {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    height: 10vh;
}
.navbar button {
    color: rgba(255,255,255,.75);
    font-weight: 700;
}
.navbar a {
    color: rgba(255,255,255,.75) !important;
    font-weight: 700;
}
@media only screen and (max-width : 420px) {
    .nav-link{
        display: none;
    }
    .navbar {
        all: unset;
        display: flex;
        flex-wrap: inherit !important;
    }
    .navbar-nav{
        flex-direction: row !important;
    }
    .navbar-nav a{
        display: none !important;
    }
    .navbar-nav span{
        display: none !important;
    }
    }